@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fs-xl: 30px;
    --fs-lg: 17.86px;
    --fs-base: 14px;
    --fs-sm: 12.41px;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-regular: 400;

    --lh-xl: 36px;
    --lh-lg: 21.71px;
    --lh-base: 17px;
    --lh-sm: 15.07px;
  }

  h3 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    line-height: var(--lh-xl);
  }

  .widget-lead {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    line-height: var(--lh-sm);
  }

  .widget-title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-lg);
  }

  p {
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
    line-height: var(--lh-base);
  }

  a {
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    line-height: var(--lh-base);
    color: #3b755f;
  }
}
